*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.schedule {
	margin: 0;
	padding: 0;
}

.schedule a {
	color: #222;
	text-decoration: none;
}

.schedule a:hover {
	text-decoration: underline;
}

.movie,
.movie a {
	color: #0f0;
}

.sat,
.sat a {
	color: #00f;
}

.sun,
.sun a {
	color: #f00;
}
